extends layout

block content
    p.buffer-message Buffering please wait...
    .flash-container
    div.player
    script.
        streamUrl="#{streamUrl}";
        $(function() {
            setTimeout(function(){
                var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false );

                if (iOS) {
                window.location.replace(streamUrl);
                }
                else {

                $('.buffer-message').hide();

                var video = '<video id="player" class="video-js vjs-default-skin center-block" controls preload="auto" width="auto" height="auto" >';

                video += '<source src=' + streamUrl + ' type="video/mp4">';

                video +=  '/></video>';
                
                $('.player').append(video);
                _V_('player');
                _V_('player').play();
                

                }
      
            }, 3000);
        });